

body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("C:\\Users\\israeljimenez\\apps\\israelj013.github.io\\images\\DSC02522.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .info {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .info span.border {
    background-color: #656565;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }