body, html {
    height: 100%;
  }

.bg {
  overflow: hidden;
  background-image: url("https://github.com/israelj013/israelj013.github.io/blob/master/images/PicsArt_09-13-06.38.03.jpg?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 42%;
}

.info {
  position: absolute;
  left: 7%;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 1;
  font-family: 'Helvetica', sans-serif;
  src: url("C:\\Users\\israeljimenez\\apps\\israelj013.github.io\\fonts\\Helvetica_Helvetica\\Helvetica\\Helvetica-Black.otf");
  font-style: normal;
  font-weight: bold;
  padding: 0px;
}

.info span.border {
  color: #000;
  font-size: 25px;
  border: none !important;
  border-radius: 0px;
  width: 100
}

.info span.job {
  color: #000;
  font-size: 56px;
  border: none !important;
  border-radius: 0px;
  
}

.info span.name {
  color: #000;
  font-size: 127px;
  border: none !important;
  border-radius: 0px;
  text-decoration: unset;
}


@media (max-width:1040px){
  .info{
    top: 45%;
  }
  .info span.name{
    font-size: 95px;
  }

  .info span.job {
    font-size: 42;
  }
}

@media (max-width: 640px) {
  .info{
    top: 55%;
  }
  .info span.name{
    font-size: 40px;
  }

  .info span.job{
    font-size: 20px;
  }

  .info span.border {
    font-size: 10px;
  }
}

