body, html {
    height: 100%;
  }

.bg {
  overflow: hidden;
}

.bg:after {
  content: ' ';
  display: block;
  height: 100%;
  filter: blur(2px);
  background-image: url("https://github.com/israelj013/israelj013.github.io/blob/master/images/DSC02520.jpg?raw=true");
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 1;
}

/*.info span.border {
  color: white;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: black;
  padding: 18px;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: bold;
  border: none !important;
}*/

.info span.border {
  background-color: #2d2d2d;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-size: 18px;
  border: none !important;
}

@media (max-width: 768px) {
  .bg {
    background-position: center;
  }
    .info span.border {
        font-size: 14px;
        padding: 10px;
    }
    .info br.delete {
        /*display: none;*/
        height: 5px;
    }
}
