.logo {
    height: 40px;
  }

.nav-text {
  color: #efefef;
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif
}

.prj {
  background-color: transparent !important;
  padding: 4px;
  border-width: 1px
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default{
  background-color: rgb(2, 2, 2);
  
}

.navbar-default:not(.logo){
  filter: opacity(.8);
}

button{
  color: #efefef;
}

.navbar-default .navbar-toggler-icon{
  background-image: url("https://github.com/israelj013/israelj013.github.io/blob/master/images/134216-32.png?raw=true");
}

.dropdown-menu{
  background-color: rgb(2, 2, 2);
  border-color: #efefef;
}

.dropdown-item:hover{
  background-color: #263547;
  color: #efefef;
}