.logo {
    height: 50px;
  }

.nav-text {
  color:#efefef !important;
  font-size: 20px;
}

.prj {
  background-color: transparent !important;
  padding: 4px;
  border-width: 1px
}

.navbar-default{
  background-color: rgb(33, 33, 36);
}

.btn{
  color: #efefef;
}